@font-face {
    font-family: 'edward';
    src: url('fonts/edward.eot');
    src: url('fonts/edward.eot?#iefix') format('embedded-opentype'),
         url('fonts/edward.woff') format('woff'),
         url('fonts/edward.ttf') format('truetype'),
         url('fonts/edward.svg#TrumpGothicEastRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'futuramdcnhu';
    src: url('fonts/futuramdcnhu.eot');
    src: url('fonts/futuramdcnhu.eot?#iefix') format('embedded-opentype'),
         url('fonts/futuramdcnhu.woff') format('woff'),
         url('fonts/futuramdcnhu.ttf') format('truetype'),
         url('fonts/futuramdcnhu.svg#TrumpGothicEastRegular') format('svg');
    font-weight: normal;
    font-style: normal;
} 


a:active, a:focus{ outline:none; }

input {
	color: #333333;}

.galeria_tartalom{
	width: 100%;
	min-height:318px;
	margin: 0 auto 0 auto;
	
	background-repeat: repeat-x;
	background-position: top center;
}
	
.box_csoportok{
	float:left;
	margin: 10px 0px 10px 0px !important;
	text-align: left;
        border: 2px solid #231200;
        border-radius: 10px;
	width: 100%;
	min-height: 90px;
}
.box_csoportok a img{
 	vertical-align: left;
	max-width: 400px;
	margin: 15px 0px 15px 15px; 
	border: 5px solid #231200;
	max-height: 217px;
}
.box_csoportok  p  {
	font-family: 'pt_sans-web-regular-webfont', Arial;
        float: right;
	text-align: right;
	margin: 20px 0px 20px 0px;
        padding: 10px 20px 10px 20px;
	border: 0px solid #c5aa5f;
	height: 30px;
	color: #231200;
	font-size: 32px;
}

.box_csoportok a{
	text-decoration: none;
	color: #231200;
	font-size: 30px;
}


	
.box_kepek{
	float:left;
	margin: 10px 10px 10px 10px !important;
	text-align: center;
        border: 2px solid #231200;
        border-radius: 10px;
	width: 40%;
	min-height: 90px;
}
.box_kepek a img{
 	vertical-align: left;
	max-width: 400px;
	margin: 15px 0px 15px 0px; 
	border: 5px solid #231200;
	max-height: 217px;
        background-color: #fff;
}
.box_kepek  p  {
	font-family: 'pt_sans-web-regular-webfont', Arial;
        float: right;
	text-align: right;
	margin: 20px 0px 20px 0px;
        padding: 10px 20px 10px 20px;
	border: 0px solid #c5aa5f;
	height: 30px;
	color: #231200;
	font-size: 40px;
}

.box_kepek a{
	text-decoration: none;
	color: #231200;
	font-size: 30px;
}

.controlleft {
   float: right;
	display: block; 
	text-align: right; 
	margin: -40px 10px 0px 0px;
}
.controlright {
	float: left;
	display: block; 
	text-align: left; 
	margin: -40px 0px 0px 10px;
}
#galeria-alfejlec {
	font-family: 'pt_sans-web-regular-webfont', Arial;
	color: #231200;
	margin: 0px 0px 0px 0px;
	border: 0px solid #c5aa5f;
	padding-top: 0px;
	text-align: center;
	font-size: 58px;
}
#kepfelirat {
	text-align: center;
	height: 40px;
}