@font-face {
    font-family: 'edward';
    src: url('edward.eot');
    src: url('edward.eot?#iefix') format('embedded-opentype'),
         url('edward.woff') format('woff'),
         url('edward.ttf') format('truetype'),
         url('edward.svg#TrumpGothicEastRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}  

a:active, a:focus{ outline:none; }

input {
	color: #333333;}

.galeria_tartalom{
	width: 100%;
	min-height:318px;
	margin: 0 auto 0 auto;
	
	background-repeat: repeat-x;
	background-position: top center;
}
	
.box{
	float:left;
	background-color: #e9e5d9;
	margin: 10px 0px 10px 0px !important;
	text-align: left;
        border: 5px solid #231200;
	width: 100%;
	min-height: 90px;
}
.box a img{
 	vertical-align: left;
	max-width: 400px;
	margin: 15px 0px 15px 0px; 
	border: 5px solid #231200;
	max-height: 217px;
}
.box  p  {
	font-family: 'edward', Arial;
        float: right;
	text-align: right;
	margin: 20px 0px 20px 0px;
        padding: 10px 20px 10px 20px;
	border: 0px solid #c5aa5f;
	height: 30px;
	color: #231200;
	font-size: 40px;
}

.box a{
	text-decoration: none;
	color: #231200;
	font-size: 30px;
}

.controlleft {
   float: right;
	display: block; 
	text-align: right; 
	margin: -40px 10px 0px 0px;
}
.controlright {
	float: left;
	display: block; 
	text-align: left; 
	margin: -40px 0px 0px 10px;
}
#galeria-alfejlec {
	font-family: 'edward', Arial;
	color: #231200;
	margin: 0px 0px 0px 0px;
	border: 0px solid #c5aa5f;
	padding-top: 0px;
	text-align: center;
	font-size: 58px;
}
#kepfelirat {
	text-align: center;
	height: 40px;
}